@import "@/assets/styles/index.scss";

.container {
    background-image: url(../../assets/images/hero-banner-woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    h1 {
        color: $white;
        text-align: center;
        padding: 15px;
    }

    .btn {
        @include button-outline;
    }
    span {
        font-size: 10px;
    }
}
