@import "@/assets/styles/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,600&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    h1 {
        color: $primary-color;
        text-align: center;
        margin-top: 30px;
        
    }

    .btn {
        @include button-outline;
    }
    span {
        font-size: 10px;
    }
}
