$primary-color: #46AFA5;
$primary-color-light: #6AB4AC;
$secundary-color: #AA8BD4;
$secundary-color-light: #D0BDF4;

$white: #FFF;
$white-transparency: rgba(255, 255, 255, 0.756);
$black: #000;
$gray: #494D5F;
$gray-light: #9A9AAC;

